@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Admin/_DashBoard.cshtml";
}
<div class="well">
<h2>Details</h2>

<div>
    <h4>of @Html.DisplayFor(model => model.Name) Role</h4>
    <hr />
   
</div>
<h4>List of users in this role. &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @ViewBag.UserCount User(s) in this Role </h4>
@if (ViewBag.UserCount == 0)
{
    <hr />
    <p>No users found in this role.</p>
}
    <table class="table table-condensed table-bordered table-hover table-striped">
        @foreach (var item in ViewBag.Users)
        {
            <tr>
                <td>
                    @item.UserName
                </td>
            </tr>
        }
    </table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>








