@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<div style="padding-bottom:100px;padding-top:100px">
    <hgroup class="title" style="text-align:center">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div style="text-align:center">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
